<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Asignar</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" th:href="@{/resources/datepicker/bootstrap-datepicker.css}">
<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}"> 
<link rel="stylesheet" type="text/css" href="css/estiloGradoSec.css">


</head>
<body>
	<div class="container">
		
			<h3 class="text-center mt-4">Asignar docente por cursos</h3>
			
			<br>

			<div class=" mt-2">
	<div class="form-row col-md-18">
													<div class="form-group  col-md-1">
														<label for="exampleInputEmail1"><b>Periodo</b></label>																													
												    </div>
												    
												    <div class="form-group  col-md-2">
														
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">Periodo 2021</option>
													      <option/>
													    </select>																												
												    </div>
												    
												    <div class="form-group  col-md-1">
														<label for="exampleInputEmail1"><b>Nivel Academico</b></label>	
														 </div>		
														
														<div class="form-group  col-md-2">
														
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">Primaria</option>
													      <option/>
													    </select>		
													    																				
												    </div>

													<div class="form-group  col-md-1">
														<label for="exampleInputEmail1"><b>Grado Seccion</b></label>	
														 </div>		
														
														<div class="form-group  col-md-2">
														
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">Primero-A</option>
													      <option/>
													    </select>		
													    																				
												    </div>
												    
												      <div class="form-group  col-md-2">
														<td><a class="btn btn-primary btn-editar" data-toggle="modal" data-target="#modalAlumno">Buscar</a></td>
													    																				
												    </div>
												    
												    
												    <div class="form-group  col-md-2">
														<label for="exampleInputEmail1"><b>Curso</b></label>	
														 </div>		
														
														<div class="form-group  col-md-2">
														
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">Periodo 2021</option>
													      <option/>
													    </select>		
													    																				
												    </div>
												    
												    <div class="form-group  col-md-2">
														<label for="exampleInputEmail1"><b>Docente</b></label>	
														 </div>		
														
														<div class="form-group  col-md-2">
														
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">Alberto Rodriguez</option>
													      <option/>
													    </select>		
													    																				
												    </div>
											
												    
												  
												    
												    
												    
												   
												     
												     
	<div class="mt-2">
				<table class="table table-striped table-bordered mt-5" id="tableAlumno">
							  <thead>
							   <tr>
					                <th>Código Docente</th>
					                <th>Docente</th>
					                <th>Nivel-Academico</th>
					                <th>Grado-Seccion</th>
					                <th>Curso</th>
					                <th>Accion</th>
					                
					            </tr>
							  </thead>
							  <tbody>
								<tr>
							      <td>PRIMERO</td>
							      <td>PRIMERO</td>
							      <td>PRIMERO</td>
							      <td>PRIMERO</td>
							      <td>PRIMERO</td>
							      <td><a class="btn btn-danger btn-editar" data-toggle="modal" data-target="#modalAlumno">Eliminar</a></td>
							    </tr>  
							  </tbody>					      
				</table>
		
			
	
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.js"></script>
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>     
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	<script src="js/jsPeriodo.js"></script>   
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</body>
</html>