<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Crear Periodo</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" th:href="@{/resources/datepicker/bootstrap-datepicker.css}">
<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}"> 
<link rel="stylesheet" type="text/css" href="css/estiloAgregar.css">


</head>
<body>
	<div class="container">
		
			<h3 class="text-center mt-4">Crear Periodo</h3>
			
			<div id="contButton" style="float: right;"><button type="button" class="btn btn-info mt-5" data-toggle="modal" data-target="#modalPeriodo" id="btn-nuevo" >Agregar Nuevo
			</button></div>
			
			<br>
			<br>
			<br>

			<div class=" mt-2">
	
				<table class="table table-striped table-bordered mt-5" id="tablePeriodo">
							  <thead>
							   <tr>
					                <th>Descripción</th>
					                <th>Fecha Inicio</th>
					                <th>Fecha Fin</th>
					                <th>Estado</th>
					            </tr>
							  </thead>
							  <tbody>
								<tr>
							      <td>PERIODO 2019</td>
							      <td>13-13-2019</td>
							      <td>20-12-2019</td>
							      <td>No activo</td>
							      <td><a class="btn btn-primary btn-editar" data-toggle="modal" data-target="#modalPeriodo">Editar</a>
							      	<a class="btn btn-danger btn-eliminar">Borrar</a></td>
							    </tr>  
							  </tbody>					      
				</table>
			</div>
		
		
			<!-- begin #modal-dialog : MODAL MEDICAMENTO-->
			<div class="modal fade" id="modalPeriodo" data-backdrop="static" 
							data-keyboard="false" tabindex="-1" 
							aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered modal-login modal-lg" >					
							<div class="modal-content">
								<div class="modal-header bg-blue-darker">
									<h4 class="modal-title text-white">Agregar Nuevo</h4>
								</div>
								<div class="modal-body">
									<form method="POST" id="idRegistra">	
											<div class="col-md-12">
												<div class="form-group  col-md-8">
														<label for="exampleInputEmail1"><b>Descripción</b></label>			
														<input type="text" class="form-control" id="idDescripcion" placeholder="Ingresar Descripción">																										
												</div>
												<div class="form-group has-feedback col-md-8">	
													<label for="exampleInputEmail1" class="text-center"><b>Fecha Ingreso</b></label><br>
												    <i class="fas fa-calendar-week form-control-feedback2"></i>
												    <input type="text" style="background-color:#aed6f1" class="form-control" id="idfechaI"
												    													  name="fechaIngreso" placeholder="YYYY-MM-DD" autocomplete="off" >
							
											    </div>
												<div class="form-group has-feedback col-md-8">	
													<label for="exampleInputEmail1" class="text-center"><b>Fecha Vencimiento</b></label><br>
												    <i class="fas fa-calendar-week form-control-feedback2"></i>
												    <input type="text" style="background-color:#aed6f1" class="form-control" id="idfechaV"
												    													  name="fechaVencimiento" placeholder="YYYY-MM-DD" autocomplete="off" >
							
											    </div> 
											    <div class="form-group has-feedback col-md-8">	
														<label for="exampleInputEmail1"><b>Estado</b></label>
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">ComboEstado</option>
													      <option/>
													    </select>
													   
												 </div>
												<div class="col-md-8 text-center mt-4"> 										
													<button type="submit" id="Registrar" class="btn btn-primary"><i class="fas fa-save"></i> Registrar</button>
													<button type="button" id="Cancelar" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-undo-alt"></i> Cancelar</button>
												</div> 	
											</div>
										</div>								
																																	
									</form>
								</div>
							</div>
						</div>
		</div>
		<!-- FIN Modal MEDICAMENTO-->	
	
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.js"></script>
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>     
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	<script src="js/jsPeriodo.js"></script>   
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</body>
</html>