<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Matricula</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" th:href="@{/resources/datepicker/bootstrap-datepicker.css}">
<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}"> 
<link rel="stylesheet" type="text/css" href="css/estiloGradoSec.css">


</head>
<body>
	<div class="container">
		
			<h3 class="text-center mt-4">Matricula</h3>
			
			<br>

			<div class=" mt-2">
	<div class="form-row col-md-12">
													<div class="form-group  col-md-2">
														<label for="exampleInputEmail1"><b>Nivel Academico</b></label>																													
												    </div>
												    
												    <div class="form-group  col-md-2">
														
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">Primaria</option>
													      <option/>
													    </select>																												
												    </div>

													<div class="form-group  col-md-2">
														<label for="exampleInputEmail1"><b>Grado y Seccion</b></label>	
														 </div>		
														
														<div class="form-group  col-md-2">
														
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">Primero-A</option>
													      <option/>
													    </select>		
													    																				
												    </div>
												    
												    <div class="form-group  col-md-3">
														<td><a class="btn btn-primary btn-editar" data-toggle="modal" data-target="#modalAlumno">Buscar</a></td>
													    																				
												    </div>
												    
												    <div class="form-group  col-md-2">
														
														<label for="exampleInputEmail1"><b>Cantidad de Vacantes</b></label>			
																		
												    </div>
												    
												    <div class="form-group  col-md-2">
												    
												    <input type="text" class="form-control" id="idNombre" placeholder="">	
												    
												     </div>
												    
												    <div class="form-group  col-md-3">
														<td><a class="btn btn-primary btn-editar" data-toggle="modal" data-target="#modalMatricula">Continuar</a></td>
													    																				
												    </div>
												    
												    

												</div>
			</div>
		
		
			<!-- begin #modal-dialog : MODAL MEDICAMENTO-->
			<div class="modal fade" id="modalMatricula" data-backdrop="static" 
							data-keyboard="false" tabindex="-1" 
							aria-labelledby="exampleModalLabel" aria-hidden="true" >
						<div class="modal-body  modal-dialog-centered modal-login modal-gl  "  >					
							<div class="modal-content ">
								<div class="modal-header bg-blue-darker">
									<h4 class="modal-title text-white">Detalle Matricula</h4>
								</div>
								
									<form method="POST" id="idRegistra">	
											<div class="form-group">
													 <div class="form-group  col-md-4">
														<label for="exampleInputEmail1"><b>Situacion Alumno</b></label>																													
												    </div>
												    
												    <div class="form-group  col-md-4">
														
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">Nuevo</option>
													      <option/>
													    </select>	
													    <div class="form-group">
													 																											
												    </div>
												    
												    
												    
													    <div class="modal-content">
								<div class="modal-header bg-red">
									<h4 class="modal-title text-white">Datos Academicos</h4>
								</div>
								<div class="container ">
									<form method="POST" id="idRegistra">	
											<div class="form-group">
											
											<div class="form-group  col-md-6">
														
														<label for="exampleInputEmail1"><b>Instituto de Procedencia</b></label>			
																		
												    </div>
												    
												    <div class="form-group  col-md-6">
												    
												    <input type="text" class="form-control" id="idNombre" placeholder="">	
												    
												     </div>
											
											
													 <div class="form-group  col-md-6">
														<label for="exampleInputEmail1"><b>Repitente</b></label>																													
												    </div>
												    
												    <div class="form-group  col-md-6">
														
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">No</option>
													      <option/>
													    </select>	
					    
													    																											
												    </div>


												</div>

												    
											</div>
											
								 										
																																	
									</form>
								</div>
								 <div class="form-group">
													 																											
												    </div>
								 <div class="modal-content">
								<div class="modal-header bg-red">
									<h4 class="modal-title text-white">Datos Alumno</h4>
								</div>
								<div class="container">
									<form method="POST" id="idRegistra">	
											<div class="form-group">
											
											<div class="form-group  col-md-6">
														
														<label for="exampleInputEmail1"><b>Documento de Identidad</b></label>			
																		
												    </div>
												    
												    <div class="form-group  col-md-6">
												    
												    <input type="text" class="form-control" id="idNombre" placeholder="">	
												    
												     </div>

												    
											</div>
											
											<div class="form-group">
											
											<div class="form-group  col-md-6">
														
														<label for="exampleInputEmail1"><b>Nombres</b></label>			
																		
												    </div>
												    
												    <div class="form-group  col-md-6">
												    
												    <input type="text" class="form-control" id="idNombre" placeholder="">	
												    
												     </div>

												    
											</div>
											
											<div class="form-group">
											
											<div class="form-group  col-md-6">
														
														<label for="exampleInputEmail1"><b>Apellidos</b></label>			
																		
												    </div>
												    
												    <div class="form-group  col-md-6">
												    
												    <input type="text" class="form-control" id="idNombre" placeholder="">	
												    
												     </div>

												    
											</div>
												
											<div class="form-group  col-md-6">
														<label for="exampleInputEmail1"><b>Sexo</b></label>																													
												    </div>
												    
												    <div class="form-group  col-md-6">
														
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">Masculino</option>
													      <option value=" ">Femenino</option>
													      <option/>
													    </select>	
					    
													    																											
												    </div>
												    
												    <div class="form-group">
											
											<div class="form-group  col-md-6">
														
														<label for="exampleInputEmail1"><b>Ciudad</b></label>			
																		
												    </div>
												    
												    <div class="form-group  col-md-6">
												    
												    <input type="text" class="form-control" id="idNombre" placeholder="">	
												    
												     </div>

												    
											
												</div>

												    
											</div>
											
								 										
																																	
									</form>
								</div>


<div class="modal-content">
								<div class="modal-header bg-red">
									<h4 class="modal-title text-white">Datos Extra</h4>
								</div>
								<div class="container">
									<form method="POST" id="idRegistra">	
											<div class="form-group">
											
											<div class="form-group  col-md-6">
														
														<label for="exampleInputEmail1"><b>Documento de Identidad</b></label>			
																		
												    </div>
												    
												    <div class="form-group  col-md-6">
												    
												    <input type="text" class="form-control" id="idNombre" placeholder="">	
												    
												     </div>

												    
											</div>
											
											<div class="form-group">
											
											<div class="form-group  col-md-6">
														
														<label for="exampleInputEmail1"><b>Tipos de Relacion</b></label>			
																		
												    </div>
												    
												    <div class="form-group  col-md-6">
												    
												    <input type="text" class="form-control" id="idNombre" placeholder="">	
												    
												     </div>

												    
											</div>
											
											<div class="form-group">
											
											<div class="form-group  col-md-6">
														
														<label for="exampleInputEmail1"><b>Nombres</b></label>			
																		
												    </div>
												    
												    <div class="form-group  col-md-6">
												    
												    <input type="text" class="form-control" id="idNombre" placeholder="">	
												    
												     </div>

												    
											</div>
											
											<div class="form-group">
											
											<div class="form-group  col-md-6">
														
														<label for="exampleInputEmail1"><b>Apellidos</b></label>			
																		
												    </div>
												    
												    <div class="form-group  col-md-6">
												    
												    <input type="text" class="form-control" id="idNombre" placeholder="">	
												    
												     </div>

												    
											</div>
											
											<div class="form-group  col-md-6">
														<label for="exampleInputEmail1"><b>Estado Civil</b></label>																													
												    </div>
												    
												    <div class="form-group  col-md-6">
														
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">Casad(a)</option>
													      <option value=" ">Solter(a)</option>
													      <option/>
													    </select>	
					    
													    																											
												    </div>
												
											<div class="form-group  col-md-6">
														<label for="exampleInputEmail1"><b>Sexo</b></label>																													
												    </div>
												    
												    <div class="form-group  col-md-6">
														
													    <select class="form-control" name="cboEstado" id="idEstado">
													      <option value=" ">Masculino</option>
													      <option value=" ">Femenino</option>
													      <option/>
													    </select>	
					    
													    																											
												    </div>
												    
												    <div class="form-group">
											
											<div class="form-group  col-md-6">
														
														<label for="exampleInputEmail1"><b>Ciudad</b></label>			
																		
												    </div>
												    
												    <div class="form-group  col-md-6">
												    
												    <input type="text" class="form-control" id="idNombre" placeholder="">	
												    
												     </div>
												     
												     
												     <div class="form-group  col-md-6">
														
														<label for="exampleInputEmail1"><b>Direccion</b></label>			
																		
												    </div>
												    
												    <div class="form-group  col-md-6">
												    
												    <input type="text" class="form-control" id="idNombre" placeholder="">	
												    
												     </div>

								
												</div>

												    
											</div>
											
								 										
																																	
									</form>
								</div>
					    
													    																											
												    </div>
													 <div class="form-row col-md-8">
													<div class="form-group col-md-4"><button type="submit" id="Cancelar" class="btn btn-danger" data-dismiss="modalMatricula">Cancelar</button></div> 
													 </div>
													 
												    

												</div>

												    
											</div>
											
								 										
																																	
									</form>
								</div>
							</div>
						</div>
		</div>
		<!-- FIN Modal MEDICAMENTO-->	
	
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.js"></script>
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>     
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	<script src="js/jsPeriodo.js"></script>   
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</body>
</html>